@media screen and (max-width: 1200px){
    .header {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .header {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .header {
        max-width: none;
    }
}
@media screen and (max-width: 1200px){
    .section_2 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .section_2 {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .section_2 {
        max-width: none;
    }
}
@media screen and (max-width:505px) {
    .barber_colection {
        margin: 24px 12px;
    }
}
@media screen and (max-width: 612px) {
     .barber_container {
        width: 100px;
        height: 180px;
        margin: 12px;
    }
}
@media screen and (max-width: 1200px){
    .view_section2_label {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .view_section2_label {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .view_section2_label {
        max-width: none;
    }
}
@media screen and (max-width: 1200px){
    .footer_logo_section2 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .footer_logo_section2 {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .footer_logo_section2 {
        max-width: none;
    }
}
@media screen and (max-width: 1200px){
    .section_3 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .section_3 {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .section_3 {
        max-width: none;
    }
}
@media screen and (max-width: 1200px){
    .section_4 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .section_4 {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .section_4 {
        max-width: none;
    }
}
@media screen and (max-width: 729px) {
    .gallery {
        width: 180px;
        height: 180px;
        margin: 1px;
        overflow: hidden;
    }
}
@media screen and (max-width: 547px) {
    .gallery {
        width: 156px;
        height: 116px;
    }
}
@media screen and (max-width: 1200px){
    .section_5 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .section_5 {
        max-width: 750px;
    }
}
@media screen and (max-width: 767px){
    .section_5 {
        max-width: none;
    }
}
@media screen and(max-width: 1050px){
    .info_maps {
        max-width: 767px;
    }
}
@media screen and(max-width: 750px){
    .info_maps {
        max-width: 320px;
    }
}
@media screen and (max-width: 1200px){
    .sector_1 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .sector_1 {
        max-width: 750px;
    }
}
@media screen and (max-width: 768px){
    .sector_1 {
        max-width: none;
    }
}
@media screen and (max-width: 1200px){
    .sector_2 {
        max-width: 970px;
    }
}
@media screen and (max-width: 992px){
    .sector_2 {
        max-width: 750px;
    }
}
@media screen and (max-width: 768px){
    .sector_2 {
        max-width: none;
    }
}
@media screen and(max-width: 490px){
    .info_adress {
        max-width: none;
    }
}
@media screen and(max-width: 490px){
    .info_button {
        max-width: none;
    }
}
@media screen and(max-width: 490px){
    .tel_button {
        max-width: none;
    }
}
@media screen and(max-width: 490px){
    .mail_button {
        max-width: none;
    }
}
@media screen and (max-width: 480px) {
    .pulse {
        width: 50px;
        height: 50px;
    }
    .text {
        top: 10px;
        font-size: 11px;
    }
    .book_button_charge {
        width: 50px;
        height: 50px;
        top: 94%;
    }
}





























