@media screen and (max-width: 1750px) {
    .button__read {
        transform: translate(100px,20px);
    }
    .mail____7 {
        transform: matrix(1,0,0,1,-60,50);
    }
    .text___block {
        transform: matrix(1,0,0,1,10,-20);
    }
    .social___block {
        transform: matrix(1,0,0,1,-60,-20);
    }
}
@media screen and (max-width: 1380px) {
    .button__read {
        transform: translate(0px,100px);
    }
    .text____inner {
        transform: matrix(0.8,0,0,0.8,0,-60);
    }
    .blocyell____4 {
        transform: matrix(0.8,0,0,1,-60,0);
    }
    .text___block {
        transform: matrix(0.6,0,0,0.6,10,-40);
    }
    .social___block {
        transform: matrix(0.6,0,0,0.6,-60,-40);
    }
    .info__container {
        transform: matrix(0.9,0,0,0.9,10,-10);
    }
    .text____find {
        transform: matrix(1,0,0,1,50,0);
    }
    .text____find2 {
        transform: matrix(1,0,0,1,50,0);
    }
}
@media screen and (max-width: 975px) {
    .navigation__1 {
        transform: translate(0px,125px);
        position: relative;
        right: 13%;
        font-size: 24px;
    }
    .pizzeria__7 {
        transform: matrix(0.8, 0, 0, 0.8, 0, -20);
    }
    .content__inner {
        transform: matrix(0.9, 0, 0, 0.9, -20, 0);
    }
    .text___block {
        transform: matrix(0.6,0,0,0.6,-30,-100);
    }
    .social___block {
        transform: matrix(0.6,0,0,0.6,-50,-90);
    }
    .info__container {
        transform: matrix(0.9,0,0,0.9,60,-10);
    }
}
@media screen and (max-width: 835px) {
    .navigation__1 {
        display: flex;
        transform: matrix(1,0,0,1,-60,100);
    }
    .text__logo {
        transform: matrix(0.5, 0, 0, 0.5, -190, 30);
    }
    .button__read {
        transform: matrix(0.5,0,0,0.5,-60,0);
    }
    .text___2pduo  {
        transform: matrix(0.8,0,0,0.8,0,-40);
    }
    .content__3 {
        flex-wrap: wrap;
    }
    .text____inner {
        transform: matrix(0.7, 0,0, 0.7, -50, -100);
    }
    .blocyell____4 {
        transform: matrix(0.5, 0, 0, 1.4, -120, 90);
    }
    .text_about {
        transform: matrix(0.5, 0, 0, 0.5, -40, -10);
    }
    .text_menu {
        transform: matrix(0.5, 0, 0, 0.5, -150, -10);
    }
    .info__container {
        transform: matrix(0.8,0,0,0.8,100,-10);
    }
     .text___block {
        transform: matrix(0.6,0,0,0.6,-50,-160);
    }
    .social___block {
        transform: matrix(0.6,0,0,0.6,-70,-140);
    }
    .mail____7 {
        transform: matrix(0.6,0,0,0.6,-60,40);
    }
}
@media screen and (max-width: 680px) {
    .navigation__1 {
        flex-direction: column;
        transform: translate(-90px,150px);
    }
    .button__read {
        transform: matrix(0.5,0,0,0.5,-130,50);
    }
    .text___2pduo  {
        transform: matrix(0.8,0,0,0.8,0,-90);
    }
    .textmenu___block {
        transform: matrix(0.8,0,0,0.8,-50,0);
    }
    .text____inner {
        transform: matrix(0.5, 0, 0, 0.5, -50, -160);
    }
    .blocyell____4 {
        transform: matrix(0.5, 0, 0, 1, -120, 0);
    }
    .content_5 {
        transform: matrix(0.8,0,0,0.8,0,-20);
    }
    .info__container {
        transform: matrix(0.7,0,0,0.7,140,-10);
    }
    .text___block6 {
        transform: matrix(0.9,0,0,0.9,10,-10);
    }
    .info__label {
    transform: matrix(0.5,0,0,0.5,10,-70);
    }
}
@media screen and (max-width: 565px) {
    .text__logo {
        transform: matrix(0.5, 0, 0, 0.5, -190, 30);
    }
    .text___2pduo {
        transform: matrix(0.6,0,0,0.6,0,-90);
    }
    .content__3 {
        transform: matrix(0.6,0,0,0.6,0,-50);
    }
    .textmenu___block {
        transform: matrix(0.8,0,0,0.8,-50,-40);
    }
    .content_5 {
        flex-wrap: wrap;
        transform: matrix(0.8,0,0,0.8,0,-60);
    }
    .text_menu {
        transform: matrix(0.5, 0, 0, 0.5, -150, -10);
    }
    .social___block {
        transform: matrix(0.5,0,0,0.5,-100,-110);
    }
    .text___block {
        transform: matrix(0.5,0,0,0.5,-40,-170)
    }
    .pizzeria__7 {
        transform: matrix(0.8,0,0,0.8,-10,-40);
    }
    .foter____text {
        transform: matrix(1.5,0,0,1.5,0,0);
    }
    .servis_____info {
        transform: matrix(0.8,0,0,0.8,-40,-10);
    }
    .text___block6 {
        transform: matrix(0.9,0,0,0.9,-50,-10);
    }
    .info__container {
        transform: matrix(0.5,0,0,0.5,140,-10);
    }
    .yellow___small {
        transform: matrix(0.5,0,0,0.5,110,10);
    }
    .text__menu {
        transform: matrix(0.8,0,0,0.8,-40,10);
    }
}






















