//Підключені шрифти
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato-Black.eot');
    src: local('☺'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype'), url('../fonts/Lato-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.eot');
    src: local('☺'), url('../fonts/Lato-Medium.woff') format('woff'), url('../fonts/Lato-Medium.ttf') format('truetype'), url('../fonts/Lato-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Black';
    src: url('../fonts/Montserrat-Black.eot');
    src: local('☺'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: local('☺'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: local('☺'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Файл обнуляючих стилів
@import "nullstyle.css";
@import "media-queries.css";
@import "fontawesome.css";
@import "brands.css";

$color_1: #ffffff;
$color_2: #ffba00;
$color_3: #000000;
$fs33: 33px;
$fs25: 25px;
$fs42: 42px;
$color_bac: #242424;


body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: $color_bac;
}

.section1 {
    display: block;
    background-color: $color_bac;
    height: 1024px;
    color: $color_1;
    width: 100%;
    .viewbakground_1 {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: url(../img/view1logo@2x.png) no-repeat;
        background-size: cover;
        background-position: top;
        padding: 35px 0px 0px 0px;
        .headerlabel__1 {
            text-align: center;
            display: inline-flex;
            font-size: $fs33;
            width: 100%;
            height: 77px;
            align-items: center;
            .pizzeria__1 {
                max-width: 450px;
                max-height: 77px;
                background-color: $color_2;
                text-align: right;
                padding: 30px 25px 20px 60px;
                display: flex;
                .re {
                    font-family: Montserrat;
                    font-weight: 400;
                    letter-spacing: 8.33px;
                }
                .leftlogo {
                    font-family: 'Montserrat ExtraBold';
                    font-weight: 700;
                    letter-spacing: 1.67px;
                }
            }
            .navigation__1 {
                width: 100%;
                flex-wrap: nowrap;
                margin: 0;
                padding-top: 10px;
                transition: all .5s ease-in;
                .button__1 {
                    cursor: pointer;
                    color: $color_1;
                    font-family: Lato;
                    font-weight: 400;
                    margin: 0px 30px;
                    transition: all .3s ease;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    border-style: hidden;
                    &:hover {
                        display: inline-block;
                        color: $color_2;
                        transform: scale(1.2,1.2);
                        &:active {
                            //background-color: #ffffff08;
                        }
                    }
                }
            }
        }
        .yellowhight {
            height: 100%;
            display: flex;
            align-items: center;
            .yellowcub {
                background: url(../img/Rectangle.png);
                height: 200px;
                width: 100%;
                margin-bottom: 100px;
                display: inherit;
                justify-content: center;
                .content_inner {
                    display: flex;
                    width: 53%;
                    height: 192px;
                    position: relative;
                    top: 23%;
                    .text__logo {
                        flex-grow: 2;
                        max-width: 575px;
                        max-height: 198px;
                        color: $color_1;
                        text-align: left;
                        transition: all .5s ease;
                        .text___1 {
                            font-family: 'Montserrat Black';
                            font-size: 125px;
                            font-weight: 900;
                            text-transform: uppercase;
                            line-height: 104.17px;
                        }
                        .text___2 {
                            font-family: 'Montserrat-Regular';
                            font-weight: 400;
                            font-size: 100px;
                            letter-spacing: 10.42px;
                            text-transform: uppercase;
                        }
                    }
                        .button__read {
                            display: block;
                            padding: 4px 24px 0px 0px;
                            flex-grow: 0.1;
                            position: absolute;
                            overflow: hidden;
                            top: 63%;
                            left: 65%;
                            width: 322px;
                            height: 80px;
                            border: 4px solid $color_1;
                            background-color: $color_2;
                            color: $color_1;
                            text-transform: uppercase;
                            text-align: right;
                            transition: all .8s ease;
                            z-index: 0;
                            &:hover {
                                transform: translate(10px,10px);
                            }
                            &::before,&::after {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 100%;
                                background: $color_bac;
                                left: -100%;
                                top: 0;
                                opacity: .5;
                                transition: all .3s;
                                z-index: -1;
                            }
                            &::after {
                                opacity: 1;
                                transition-delay: .2s;
                            }
                            &:hover::before,&:hover:after {
                                left: 0;
                            }
                        .read___1 {
                            font-family: 'Montserrat SemiBold';
                            font-size: 37px;
                            font-weight: 400;
                            color: $color_1;
                        }
                    }
                }
            }
        }
    }
}
.section2 {
    height: 620px;
    width: 100%;
    color: $color_1;
    .viewbacground_2 {
        height: 100%;
        background-color: $color_bac;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        .text__2 {
            width: 1040px;
            height: 328px;
            flex-grow: 1.5;
            flex-direction: column;
            align-items: center;
            display: flex;
            .becyell___1 {
                width: 85%;
                height: 190px;
                background-color: $color_2;
                position: relative;
                top: 20%;
                left: 27%;
            }
            .text___1pduo {
                position: relative;
                right: 10%;
                bottom: 18%;
                font-size: 50px;
                font-family: Montserrat;
                font-weight: 300;
                letter-spacing: 4px;
                transform: rotate(-90deg);
            }
            .text___2pduo {
                position: absolute;
                left: 26%;
                font-family: 'Lato Black';
                font-weight: 400;
                font-size: $fs42;
                letter-spacing: 8.33px;
                text-align: left;
                margin-left: 70px;
                width: 38%;
                height: 328px;
                transition: all .5s ease;
                .title___pduo {
                    font-family: inherit;
                    margin-bottom: 65px;
                }
                .list___pduo {
                    font-family: 'Lato Medium';
                    font-weight: 500;
                    text-align: left;
                    font-size: $fs33;
                    letter-spacing: 1.67px;
                }
            }
        }
        .pictureduo___2 {
            width: 621px;
            height: 444px;
            background: url(../img/pizza2.png) no-repeat;
            background-size: cover;
            flex-grow: 1;
        }
    }
}
.section3 {
    height: 375px;
    width: 100%;
    color: $color_1;
    position: relative;
    .viewbackground_3 {
        background-color: $color_1;
        align-items: center;
        height: 100%;
        display: flex;
        width: inherit;
        .content__3 {
            margin: 0 auto;
            width: 1080px;
            height: 182px;
            display: flex;
            flex-direction: row;
            transition: all .5s ease;
            .text___pth {
                display: inherit;
                flex-wrap: wrap;
                color: $color_3;
                font-family: Lato;
                line-height: 24.93px;
                font-weight: 500;
                font-size: 17px;
                padding: 0 20px;
                .monserat____black {
                    color: $color_2;
                    display: flex;
                    flex-wrap: nowrap;
                    font-size: 29px;
                    font-family: 'Montserrat Black';
                    font-weight: 400;
                    line-height: 33.24px;
                }
            }
        }
    }
}
.section4 {
    width: 100%;
    height: 1338px;
    color: $color_1;
    position: relative;
    .viewbackground_4 {
        width: 100%;
        height: inherit;
        background: url(../img/page_4.png) no-repeat;
        background-size: cover;
        padding: 65px 0px 0px 0px;
        text-align: center;
        .text__logo_4 {
            margin: 25px 0px;
            display: block;
            text-align: center;
            transition: all .5s ease;
            .re___4 {
                font-family: Montserrat;
                font-weight: 400;
                letter-spacing: 2.08px;
                color: $color_2;
                font-size: $fs42;
            }
            .leftlogo___4 {
                font-family: 'Montserrat ExtraBold';
                font-weight: 700;
                letter-spacing: 2.08px;
                color: $color_2;
                font-size: $fs42;
            }
        }
        .text__menu {
            max-width: 72%;
            position: relative;
            left: 28%;
            height: 135px;
            display: flex;
            border: 2px solid $color_1;
            .textmenu___block {
                text-align: left;
                height: auto;
                position: relative;
                top: 30%;
                left: 15%;
                color: $color_2;
                transition: all .5s ease;
                .text____menu {
                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 48px;
                    transition: all .5s ease;
                }
            }
        }
        .block__info {
            display: flex;
            height: 970px;
            position: relative;
            align-items: center;
            .yellow___4 {
                height: 413px;
                width: 65%;
                background-color: $color_2;
                position: relative;
                left: 35%;
                bottom: 16%;
                .blocyell____4 {
                    height: 465px;
                    width: 65px;
                    background-color: $color_2;
                    filter: brightness(168%);
                    position: absolute;
                    left: 73%;
                    top: 9%;
                    opacity: 26%;
                    transition: all .5s ease;
                }
                .text____inner {
                    color: $color_1;
                    width: 90%;
                    height: 660px;
                    position: relative;
                    top: 5%;
                    padding: 15px;
                    margin: 0 auto;
                    transition: all .5s ease;
                    .servis_____info {
                        padding: 15px 0px;
                        width: 100%;
                        text-align: left;
                        .inline______block {
                            display: flex;
                            width: 80%;
                            .empty_______4 {
                                flex-grow: 1;
                            }
                            .prise_______4 {
                                font-family: 'Lato Black';
                                font-size: $fs33;
                                font-weight: 400;
                                padding-top: 10px;
                            }
                            .name_______4{
                                font-family: 'Lato Medium';
                                font-weight: 500;
                                font-size: $fs33;
                                .pal {
                                    font-family: 'Lato Black';
                                    font-weight: 400;
                                }
                                .upercase {
                                    text-transform: uppercase;
                                }
                            }
                            .name_______4 {
                                line-height: 1.5;
                            }
                            .name_______4p {
                                margin-top: 10px;
                                line-height: 1.25px;
                                font-family: Lato;
                                font-weight: 400;
                                font-size: $fs25;
                                padding: 0px 0px 20px 65px;
                            }
                        }
                    }
                    .foter____text {
                        margin: 100px 0px;
                        border: 2px solid $color_1;
                        max-width: 100%;
                        position: relative;
                        right: 20%;
                        transition: all .5s ease;
                        .foter_____textiner {
                            position: relative;
                            left: 14%;
                        }
                    }
                }
            }
        }
    }
}
.section5 {
    height: 405px;
    width: 100%;
    color: $color_1;
    position: relative;
    .content_5 {
        display: block;
        height: 176px;
        text-align: center;
        position: relative;
        top: 21%;
        transition: all .5s ease;
        .content__iner {
            margin: 30px 0px;
            .text___logo {
                margin: 0px 10px;
                text-transform: uppercase;
                color: $color_2;
                font-family: Lato;
                font-weight: 400;
                letter-spacing: 2.08px;
                font-size: $fs42;
            }
            .text___logo2 {
                margin: 0px 10px;
                color: $color_2;
                font-family: 'Montserrat Black';
                font-weight: 900;
                letter-spacing: 2.08px;
                font-size: $fs42;
            }
        }
        .content__text {
            margin: 30px 0px;
            color: $color_1;
            .text___simple {
                font-family: Raleway;
                font-size: 19px;
                line-height: 33.33px;
            }
        }
        .botton__5 {
            display: block;
            transition: all 0.3s ease-in;
            font-family: Raleway;
            font-size: 17px;
            font-weight: 700;
            .button___1 {
                cursor: pointer;
                color: $color_1;
                font-family: Lato;
                font-weight: 400;
                margin: 0px 30px;
                transition: all .3s ease;
                border: 1px solid #fff;
                border-radius: 5px;
                border-style: hidden;
                &:hover {
                    display: inline-block;
                    color: $color_2;
                    transform: scale(2,2);
                }
            }
        }
    }
}
.section6 {
    width: 100%;
    height: 1205px;
    .viewbackground_6 {
        height: inherit;
        background: url(../img/masterclas.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-end;
        .info__container {
            max-width: 600px;
            height: 951px;
            position: relative;
            right: 15%;
            top: 10%;
            transition: all .5s ease;
            .text___block6 {
                width: 318px;
                height: 37px;
                transition: all .5s ease;
                .text____title {
                    font-family: 'Lato Black';
                    font-size: $fs42;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $color_1;
                    letter-spacing: 2.08px;
                }
            }
            .yellow___big {
                background-color: $color_2;
                width: 130%;
                height: 70%;
                position: relative;
                top: 10%;
                right: 52%;
                .text____info {
                    flex-direction: column;
                    width: 414px;
                    display: flex;
                    margin: 0 auto;
                    .text_____inner1 {
                        padding-top: 75px;
                        font-family: Lato;
                        font-weight: 700;
                        font-size: 50px;
                        text-transform: uppercase;
                        color: $color_1;
                    }
                    .text_____inner2 {
                        font-family: 'Lato Black';
                        font-weight: 400;
                        font-size: $fs42;
                        color: $color_1;
                        letter-spacing: 2.08px;
                        padding-top: 40px;
                    }
                    .text_____inner3 {
                        font-family: 'Lato Medium';
                        font-weight: 500;
                        font-size: $fs42;
                        color: $color_1;
                        line-height: 66.67px;
                        padding-top: 100px;
                        display: flex;
                        justify-content: flex-end;
                        .black {
                            font-family: 'Lato Black';
                            font-weight: 400;
                        }
                        .bold {
                            font-family: 'Lato Black';
                            font-weight: 700;
                        }
                    }
                    .text_____inner4 {
                        display: flex;
                        justify-content: flex-end;
                        font-family: Lato;
                        font-size: $fs42;
                        font-weight: 500;
                        line-height: 50px;
                        color: $color_1;
                    }
                }
            }
            .yellow___small {
                width: 115%;
                height: 120px;
                background-color: $color_2;
                position: relative;
                overflow: hidden;
                border: 2px solid $color_1;
                cursor: pointer;
                right: 37%;
                top: 17%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transition: all .8s ease;
                z-index: 0;
                &:hover {
                    transform: translate(10px,10px);
                }
                &::before,&::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: $color_bac;
                    left: -100%;
                    top: 0;
                    opacity: .5;
                    transition: all .3s;
                    z-index: -1;
                }
                &::after {
                    opacity: 1;
                    transition-delay: .2s;
                }
                &:hover::before,&:hover:after {
                    left: 0;
                }
                .apl {
                    padding-top: 30px;
                    padding-left: 30px;
                    font-family: "Lato - Black";
                    font-size: $fs42;
                    font-weight: 400;
                    text-align: left;
                    text-transform: uppercase;
                    color: $color_1;
                }
            }
        }
    }
}
.section7{
    width: 100%;
    height: 1270px;
    .info__label {
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: 10%;
        transition: all .5s ease;
        .label___1 {
            font-family: 'Montserrat Black';
            font-weight: 400;
            font-size: $fs42;
            color: $color_2;
        }
    }
    .viewbacground_7 {
        background-color: $color_bac;
        width: inherit;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        flex-direction: column;
        .yellow__7 {
            height: 1270px;
            width: 17%;
            background-color: $color_2;
            position: absolute;
            left: 20%;
        }
        .pictures__7 {
            display: flex;
            width: 100%;
            height: 475px;
            position: absolute;
            bottom: 45%;
            z-index: 2;
            .pictures__1 {
                margin: 5px;
                overflow: hidden;
                height: 475px;
                width: 713px;
                flex-grow: 1;
                background: url(../img/gallery1.png) no-repeat;
                background-position: center;
                background-size: cover;
            }
            .pictures__2 {
                margin: 5px;
                overflow: hidden;
                height: 475px;
                width: 317px;
                flex-grow: 1;
                background: url(../img/gallery2.png) no-repeat;
                background-position: top;
                background-size: cover;
            }
            .pictures__3 {
                margin: 5px;
                overflow: hidden;
                height: 475px;
                width: 390px;
                flex-grow: 1;
                background: url(../img/gallery3.png) no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
    .pizzeria__7 {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        top: 60%;
        transition: all .5s ease;
        .pizza___1 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: $fs42;
            color: $color_1;
        }
    }
    .content__inner {
        width: 50%;
        height: 277px;
        display: flex;
        position: relative;
        top: 65%;
        color: $color_1;
        transition: all .5s ease;
        .text___block {
            margin: 0 30px;
            width: 150px;
            font-family: Lato;
            font-weight: 400;
            font-size: $fs25;
            line-height: 46.67px;
            flex-grow: 1;
            transition: all .5s ease;
            .name____7 {
                font-family: Raleway;
                font-weight: 700;
                font-size: 19px;
                line-height: 33.33px;
                position: relative;
                left: 61%;
                top: 4%;
            }
        }
        .social___block {
            margin: 0 30px;
            color: $color_1;
            width: 150px;
            flex-grow: 1;
            transition: all .5s ease;
            .text____find {
                font-family: Lato;
                font-weight: 500;
                font-size: $fs25;
                text-align: center;
            }
            .social____web {
                margin: 10px auto;
                width: inherit;
                font-size: 45px;
                display: flex;
                position: relative;
                left: 0;
                li {
                    margin: 10px;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    display: inline-block;
                    padding: 0;
                    .btn_social {
                        color: $color_1;
                        transition: all .3s ease-in;
                        &:hover {
                            color: $color_2;
                        }
                    }
                }
            }
            .text____find2 {
                margin-top: 50px;
                font-family: Lato;
                font-weight: 500;
                font-size: $fs25;
                text-align: center;
            }
            .mail____7 {
                font-family: Lato;
                display: flex;
                color: $color_1;
                margin-top: 20px;
                transition: all .5s ease;
                .text_____mail {
                    position: relative;
                    left: 50%;
                    color: $color_2;
                    font-family: 'Lato Black';
                    font-weight: 400;
                    font-size: $fs33;
                    transition: all .3s ease-out;
                    &:hover {
                        color: $color_3;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
.footer {
    display: inline-flex;
    width: 100%;
    height: 322px;
    background-color: #483500;
    align-items: center;
    .text_about {
        width: 300px;
        height: 200px;
        position: relative;
        left: 17%;
        text-align: left;
        flex-grow: 0.1;
        transition: all .5s ease;
        .about__8 {
            color: $color_1;
            text-transform: uppercase;
            font-family: Roboto;
            font-weight: 700;
            font-size: $fs25;
            line-height: 33.33px;
        }
        .loremips__8 {
            color: $color_1;
            font-family: Lato;
            font-size: 19px;
            font-weight: 500;
            line-height: 29.17px;
        }
    }
    .text_menu {
        flex-grow: 0.3;
        max-width: 30%;
        height: 200px;
        position: relative;
        left: 30%;
        display: inline-flex;
        color: $color_1;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 700;
        line-height: 33.33px;
        justify-content: space-between;
        transition: all .5s ease;
        .list__menu {
            cursor: pointer;
        }
    }
}
.book_buttoncharge {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    position: fixed;
    z-index: 10000;
    display: flex;
    width: 100px;
    height: 100px;
    left: 20%;
    top: 90%;
    text-decoration: none;
    transition: all .5s ease;
    .pulse__but {
        width: 100px;
        height: 100px;
        color: $color_1;
        text-align: center;
        background: #ffba009e;
        border-radius: 50%;
        transition: all .5s ease;
        &::before {
            content: '';
            position: absolute;
            border: 2px solid $color_2;
            left: -40px;
            right: -40px;
            top: -40px;
            bottom: -40px;
            border-radius: 50%;
            animation: pulse 1.8s linear infinite;
        }
        .text___pic {
            display: flex;
            border: 1px solid $color_2;
            border-radius: 50%;
            border: hidden;
            width: 200%;
            height: 200%;
            position: absolute;
            left: -50%;
            top: -50%;
            justify-content: center;
            text-transform: uppercase;
            align-items: center;
            color: $color_1;
            opacity: 1;
            transition: all .5s;
            &:hover {
                opacity: 1;
            }
        }
    }
}
@keyframes pulse {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}




























